* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  display: grid;
  width: 800px;
  height: 800px;
  grid-template-columns: auto auto auto;
  grid-template-rows: 55px auto auto  65px;
  padding: 40px;
  gap: 10px;
}
.item1 {
  background-color: blueviolet;
  grid-column: 1 / 4;
}
.item2 {
  background-color: rgb(126, 208, 126);
  grid-row: 2 / 4;
}
.item3 {
  background-color: blue;
  grid-column: 2 / 4;
}
.item4 {
  background-color: blue;
}
.item5 {
  background-color: blueviolet;
  grid-column: 1 / 4;
}
